* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

body {
  background: rgb(0, 3, 10);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body #astronaut {
  background: url(images/kosmonauta.png);
  background-size: cover;
  height: 150px;
  width: 150px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4784313725));
  position: absolute;
  z-index: 100;
  pointer-events: none;
}
@media (max-width: 400px) {
  body #astronaut {
    width: 50px;
    height: 50px;
  }
}
body .cursor {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  z-index: 100;
  border: 2px solid #fff;
  padding: 5px;
  mix-blend-mode: difference;
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100px;
  background: rgba(255, 255, 255, 0.025);
  border-bottom: 2px rgba(255, 255, 255, 0.025) solid;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: Fixed;
  z-index: 99;
  top: 0;
}
body header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between !important;
  margin-top: 2px;
  width: 85%;
}
body header nav .logo img {
  width: 70px;
}
@media (max-width: 400px) {
  body header nav .logo img {
    width: 50px;
  }
}
body header nav ol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #cecece;
  list-style-type: none;
}
body header nav ol li,
body header nav ol a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 2em;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  color: #86a3c9;
  padding: 10px;
}
@media (max-width: 800px) {
  body header nav ol li,
  body header nav ol a {
    font-size: 16px;
    padding: 1px;
    margin-left: 0.5em;
  }
}
@media (max-width: 400px) {
  body header nav ol li,
  body header nav ol a {
    font-size: 12px;
    padding: 1px;
    margin-left: 0.5em;
  }
}
body header nav ol li span,
body header nav ol a span {
  margin-left: 2.5px;
  display: block;
  transition: 0.25s;
  margin: 2px;
}
body header nav ol li:hover span:nth-of-type(1),
body header nav ol a:hover span:nth-of-type(1) {
  color: #fff;
  transition-delay: 0.075s;
  transform: translateY(-4px);
}
body header nav ol li:hover span:nth-of-type(2),
body header nav ol a:hover span:nth-of-type(2) {
  color: #fff;
  transition-delay: 0.15s;
  transform: translateY(4px);
}
body header nav ol li:hover span:nth-of-type(3),
body header nav ol a:hover span:nth-of-type(3) {
  color: #fff;
  transition-delay: 0.225s;
  transform: translateY(-4px);
}
body header nav ol li:hover span:nth-of-type(4),
body header nav ol a:hover span:nth-of-type(4) {
  color: #fff;
  transition-delay: 0.3s;
  transform: translateY(4px);
}
body header nav ol li:hover span:nth-of-type(5),
body header nav ol a:hover span:nth-of-type(5) {
  color: #fff;
  transition-delay: 0.375s;
  transform: translateY(-4px);
}
body header nav ol li:hover span:nth-of-type(6),
body header nav ol a:hover span:nth-of-type(6) {
  color: #fff;
  transition-delay: 0.45s;
  transform: translateY(4px);
}
body header nav ol li:hover span:nth-of-type(7),
body header nav ol a:hover span:nth-of-type(7) {
  color: #fff;
  transition-delay: 0.525s;
  transform: translateY(-4px);
}
body header nav ol .s span:nth-of-type(1) {
  transition: 0.25s;
  transition-delay: 0.075s;
  transform: translateY(-30px) !important;
  opacity: 0%;
}
body header nav ol .s span:nth-of-type(2) {
  transition: 0.25s;
  transition-delay: 0.15s;
  transform: translateY(30px) !important;
  opacity: 0%;
}
body header nav ol .s span:nth-of-type(3) {
  transition: 0.25s;
  transition-delay: 0.225s;
  transform: translateY(-30px) !important;
  opacity: 0%;
}
body header nav ol .s span:nth-of-type(4) {
  transition: 0.25s;
  transition-delay: 0.3s;
  transform: translateY(30px) !important;
  opacity: 0%;
}
body header nav ol .s span:nth-of-type(5) {
  transition: 0.25s;
  transition-delay: 0.375s;
  transform: translateY(-30px) !important;
  opacity: 0%;
}
body header nav ol .s span:nth-of-type(6) {
  transition: 0.25s;
  transition-delay: 0.45s;
  transform: translateY(30px) !important;
  opacity: 0%;
}
body header nav ol .s span:nth-of-type(7) {
  transition: 0.25s;
  transition-delay: 0.525s;
  transform: translateY(-30px) !important;
  opacity: 0%;
}
body main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  z-index: 10;
}
body main .text-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #cecece;
  font-family: "Lexend Exa", sans-serif;
}
body main .text-container h1 {
  font-size: clamp(10px, 4.5vw, 300px);
}
body main .text-container p {
  font-size: clamp(6px, 1vw, 50px);
  position: relative;
  margin-top: 30px;
}
body .bg {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}
body .bg .star-wrapper {
  position: absolute;
  transition: 0.5s;
  height: 15px;
  width: 15px;
}
body .bg .star-wrapper:nth-of-type(1) {
  top: 16vh;
  right: 77vw;
}
body .bg .star-wrapper:nth-of-type(2) {
  top: 93vh;
  right: 59vw;
}
body .bg .star-wrapper:nth-of-type(3) {
  top: 110vh;
  right: 72vw;
}
body .bg .star-wrapper:nth-of-type(4) {
  top: 27vh;
  right: 92vw;
}
body .bg .star-wrapper:nth-of-type(5) {
  top: 110vh;
  right: 97vw;
}
body .bg .star-wrapper:nth-of-type(6) {
  top: 28vh;
  right: 54vw;
}
body .bg .star-wrapper:nth-of-type(7) {
  top: 109vh;
  right: 71vw;
}
body .bg .star-wrapper:nth-of-type(8) {
  top: 7vh;
  right: 22vw;
}
body .bg .star-wrapper:nth-of-type(9) {
  top: 80vh;
  right: 81vw;
}
body .bg .star-wrapper:nth-of-type(10) {
  top: 16vh;
  right: 98vw;
}
body .bg .star-wrapper:nth-of-type(11) {
  top: 12vh;
  right: 38vw;
}
body .bg .star-wrapper:nth-of-type(12) {
  top: 49vh;
  right: 13vw;
}
body .bg .star-wrapper:nth-of-type(13) {
  top: 73vh;
  right: 42vw;
}
body .bg .star-wrapper:nth-of-type(14) {
  top: 12vh;
  right: 82vw;
}
body .bg .star-wrapper:nth-of-type(15) {
  top: 30vh;
  right: 44vw;
}
body .bg .star-wrapper:nth-of-type(16) {
  top: 12vh;
  right: 82vw;
}
body .bg .star-wrapper:nth-of-type(17) {
  top: 42vh;
  right: 100vw;
}
body .bg .star-wrapper:nth-of-type(18) {
  top: 82vh;
  right: 51vw;
}
body .bg .star-wrapper:nth-of-type(19) {
  top: 19vh;
  right: 67vw;
}
body .bg .star-wrapper:nth-of-type(20) {
  top: 18vh;
  right: 110vw;
}
body .bg .star-wrapper:nth-of-type(21) {
  top: 66vh;
  right: 50vw;
}
body .bg .star-wrapper:nth-of-type(22) {
  top: 109vh;
  right: 9vw;
}
body .bg .star-wrapper:nth-of-type(23) {
  top: 80vh;
  right: 56vw;
}
body .bg .star-wrapper:nth-of-type(24) {
  top: 73vh;
  right: 4vw;
}
body .bg .star-wrapper:nth-of-type(25) {
  top: 9vh;
  right: 39vw;
}
body .bg .star-wrapper:nth-of-type(26) {
  top: 64vh;
  right: 49vw;
}
body .bg .star-wrapper:nth-of-type(27) {
  top: 71vh;
  right: 36vw;
}
body .bg .star-wrapper:nth-of-type(28) {
  top: 6vh;
  right: 56vw;
}
body .bg .star-wrapper:nth-of-type(29) {
  top: 59vh;
  right: 20vw;
}
body .bg .star-wrapper:nth-of-type(30) {
  top: 40vh;
  right: 79vw;
}
body .bg .star-wrapper:nth-of-type(31) {
  top: 70vh;
  right: 94vw;
}
body .bg .star-wrapper:nth-of-type(32) {
  top: 66vh;
  right: 65vw;
}
body .bg .star-wrapper:nth-of-type(33) {
  top: 77vh;
  right: 66vw;
}
body .bg .star-wrapper:nth-of-type(34) {
  top: 20vh;
  right: 21vw;
}
body .bg .star-wrapper:nth-of-type(35) {
  top: 75vh;
  right: 6vw;
}
body .bg .star-wrapper:nth-of-type(36) {
  top: 65vh;
  right: 13vw;
}
body .bg .star-wrapper:nth-of-type(37) {
  top: 37vh;
  right: 84vw;
}
body .bg .star-wrapper:nth-of-type(38) {
  top: 2vh;
  right: 16vw;
}
body .bg .star-wrapper:nth-of-type(39) {
  top: 39vh;
  right: 107vw;
}
body .bg .star-wrapper:nth-of-type(40) {
  top: 13vh;
  right: 13vw;
}
body .bg .star-wrapper:nth-of-type(41) {
  top: 4vh;
  right: 71vw;
}
body .bg .star-wrapper:nth-of-type(42) {
  top: 99vh;
  right: 99vw;
}
body .bg .star-wrapper:nth-of-type(43) {
  top: 12vh;
  right: 68vw;
}
body .bg .star-wrapper:nth-of-type(44) {
  top: 101vh;
  right: 19vw;
}
body .bg .star-wrapper:nth-of-type(45) {
  top: 65vh;
  right: 52vw;
}
body .bg .star-wrapper:nth-of-type(46) {
  top: 62vh;
  right: 9vw;
}
body .bg .star-wrapper:nth-of-type(47) {
  top: 105vh;
  right: 3vw;
}
body .bg .star-wrapper:nth-of-type(48) {
  top: 74vh;
  right: 44vw;
}
body .bg .star-wrapper:nth-of-type(49) {
  top: 106vh;
  right: 108vw;
}
body .bg .star-wrapper:nth-of-type(50) {
  top: 77vh;
  right: 7vw;
}
body .bg .star-wrapper:nth-of-type(51) {
  top: 45vh;
  right: 25vw;
}
body .bg .star-wrapper:nth-of-type(52) {
  top: 83vh;
  right: 21vw;
}
body .bg .star-wrapper:nth-of-type(53) {
  top: 21vh;
  right: 38vw;
}
body .bg .star-wrapper:nth-of-type(54) {
  top: 85vh;
  right: 89vw;
}
body .bg .star-wrapper:nth-of-type(55) {
  top: 64vh;
  right: 57vw;
}
body .bg .star-wrapper:nth-of-type(56) {
  top: 63vh;
  right: 6vw;
}
body .bg .star-wrapper:nth-of-type(57) {
  top: 93vh;
  right: 92vw;
}
body .bg .star-wrapper:nth-of-type(58) {
  top: 89vh;
  right: 56vw;
}
body .bg .star-wrapper:nth-of-type(59) {
  top: 43vh;
  right: 101vw;
}
body .bg .star-wrapper:nth-of-type(60) {
  top: 102vh;
  right: 5vw;
}
body .bg .star-wrapper:nth-of-type(61) {
  top: 57vh;
  right: 63vw;
}
body .bg .star-wrapper:nth-of-type(62) {
  top: 56vh;
  right: 3vw;
}
body .bg .star-wrapper:nth-of-type(63) {
  top: 46vh;
  right: 33vw;
}
body .bg .star-wrapper:nth-of-type(64) {
  top: 64vh;
  right: 3vw;
}
body .bg .star-wrapper:nth-of-type(65) {
  top: 95vh;
  right: 99vw;
}
body .bg .star-wrapper:nth-of-type(66) {
  top: 41vh;
  right: 90vw;
}
body .bg .star-wrapper:nth-of-type(67) {
  top: 110vh;
  right: 88vw;
}
body .bg .star-wrapper:nth-of-type(68) {
  top: 110vh;
  right: 33vw;
}
body .bg .star-wrapper:nth-of-type(69) {
  top: 77vh;
  right: 11vw;
}
body .bg .star-wrapper:nth-of-type(70) {
  top: 80vh;
  right: 37vw;
}
body .bg .star-wrapper:nth-of-type(71) {
  top: 5vh;
  right: 30vw;
}
body .bg .star-wrapper:nth-of-type(72) {
  top: 79vh;
  right: 75vw;
}
body .bg .star-wrapper:nth-of-type(73) {
  top: 99vh;
  right: 69vw;
}
body .bg .star-wrapper:nth-of-type(74) {
  top: 37vh;
  right: 21vw;
}
body .bg .star-wrapper:nth-of-type(75) {
  top: 108vh;
  right: 59vw;
}
body .bg .star-wrapper .star {
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background: rgba(206, 206, 206, 0.7254901961);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5254901961);
}
body .bg .star-wrapper .star:nth-of-type(1) {
  animation-name: star-blink;
  animation-delay: 0.1s;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(2) {
  animation-name: star-blink;
  animation-delay: 0.2s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(3) {
  animation-name: star-blink;
  animation-delay: 0.3s;
  animation-duration: 1.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(4) {
  animation-name: star-blink;
  animation-delay: 0.4s;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(5) {
  animation-name: star-blink;
  animation-delay: 0.5s;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(6) {
  animation-name: star-blink;
  animation-delay: 0.6s;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(7) {
  animation-name: star-blink;
  animation-delay: 0.7s;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(8) {
  animation-name: star-blink;
  animation-delay: 0.8s;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(9) {
  animation-name: star-blink;
  animation-delay: 0.9s;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(10) {
  animation-name: star-blink;
  animation-delay: 1s;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(11) {
  animation-name: star-blink;
  animation-delay: 1.1s;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(12) {
  animation-name: star-blink;
  animation-delay: 1.2s;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(13) {
  animation-name: star-blink;
  animation-delay: 1.3s;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(14) {
  animation-name: star-blink;
  animation-delay: 1.4s;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(15) {
  animation-name: star-blink;
  animation-delay: 1.5s;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(16) {
  animation-name: star-blink;
  animation-delay: 1.6s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(17) {
  animation-name: star-blink;
  animation-delay: 1.7s;
  animation-duration: 1.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(18) {
  animation-name: star-blink;
  animation-delay: 1.8s;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(19) {
  animation-name: star-blink;
  animation-delay: 1.9s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(20) {
  animation-name: star-blink;
  animation-delay: 2s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(21) {
  animation-name: star-blink;
  animation-delay: 2.1s;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(22) {
  animation-name: star-blink;
  animation-delay: 2.2s;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(23) {
  animation-name: star-blink;
  animation-delay: 2.3s;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(24) {
  animation-name: star-blink;
  animation-delay: 2.4s;
  animation-duration: 1.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(25) {
  animation-name: star-blink;
  animation-delay: 2.5s;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(26) {
  animation-name: star-blink;
  animation-delay: 2.6s;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(27) {
  animation-name: star-blink;
  animation-delay: 2.7s;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(28) {
  animation-name: star-blink;
  animation-delay: 2.8s;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(29) {
  animation-name: star-blink;
  animation-delay: 2.9s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(30) {
  animation-name: star-blink;
  animation-delay: 3s;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(31) {
  animation-name: star-blink;
  animation-delay: 3.1s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(32) {
  animation-name: star-blink;
  animation-delay: 3.2s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(33) {
  animation-name: star-blink;
  animation-delay: 3.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(34) {
  animation-name: star-blink;
  animation-delay: 3.4s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(35) {
  animation-name: star-blink;
  animation-delay: 3.5s;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(36) {
  animation-name: star-blink;
  animation-delay: 3.6s;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(37) {
  animation-name: star-blink;
  animation-delay: 3.7s;
  animation-duration: 1.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(38) {
  animation-name: star-blink;
  animation-delay: 3.8s;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(39) {
  animation-name: star-blink;
  animation-delay: 3.9s;
  animation-duration: 1.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(40) {
  animation-name: star-blink;
  animation-delay: 4s;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(41) {
  animation-name: star-blink;
  animation-delay: 4.1s;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(42) {
  animation-name: star-blink;
  animation-delay: 4.2s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(43) {
  animation-name: star-blink;
  animation-delay: 4.3s;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(44) {
  animation-name: star-blink;
  animation-delay: 4.4s;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(45) {
  animation-name: star-blink;
  animation-delay: 4.5s;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(46) {
  animation-name: star-blink;
  animation-delay: 4.6s;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(47) {
  animation-name: star-blink;
  animation-delay: 4.7s;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(48) {
  animation-name: star-blink;
  animation-delay: 4.8s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(49) {
  animation-name: star-blink;
  animation-delay: 4.9s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(50) {
  animation-name: star-blink;
  animation-delay: 5s;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(51) {
  animation-name: star-blink;
  animation-delay: 5.1s;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(52) {
  animation-name: star-blink;
  animation-delay: 5.2s;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(53) {
  animation-name: star-blink;
  animation-delay: 5.3s;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(54) {
  animation-name: star-blink;
  animation-delay: 5.4s;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(55) {
  animation-name: star-blink;
  animation-delay: 5.5s;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(56) {
  animation-name: star-blink;
  animation-delay: 5.6s;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(57) {
  animation-name: star-blink;
  animation-delay: 5.7s;
  animation-duration: 1.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(58) {
  animation-name: star-blink;
  animation-delay: 5.8s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(59) {
  animation-name: star-blink;
  animation-delay: 5.9s;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(60) {
  animation-name: star-blink;
  animation-delay: 6s;
  animation-duration: 1.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(61) {
  animation-name: star-blink;
  animation-delay: 6.1s;
  animation-duration: 1.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(62) {
  animation-name: star-blink;
  animation-delay: 6.2s;
  animation-duration: 1.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(63) {
  animation-name: star-blink;
  animation-delay: 6.3s;
  animation-duration: 1.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(64) {
  animation-name: star-blink;
  animation-delay: 6.4s;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(65) {
  animation-name: star-blink;
  animation-delay: 6.5s;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(66) {
  animation-name: star-blink;
  animation-delay: 6.6s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(67) {
  animation-name: star-blink;
  animation-delay: 6.7s;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(68) {
  animation-name: star-blink;
  animation-delay: 6.8s;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(69) {
  animation-name: star-blink;
  animation-delay: 6.9s;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(70) {
  animation-name: star-blink;
  animation-delay: 7s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(71) {
  animation-name: star-blink;
  animation-delay: 7.1s;
  animation-duration: 1.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(72) {
  animation-name: star-blink;
  animation-delay: 7.2s;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(73) {
  animation-name: star-blink;
  animation-delay: 7.3s;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(74) {
  animation-name: star-blink;
  animation-delay: 7.4s;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star:nth-of-type(75) {
  animation-name: star-blink;
  animation-delay: 7.5s;
  animation-duration: 1.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
body .bg .star-wrapper .star[data-value="1"] {
  scale: calc(1 * 15%);
}
body .bg .star-wrapper .star[data-value="2"] {
  scale: calc(2 * 15%);
}
body .bg .star-wrapper .star[data-value="3"] {
  scale: calc(3 * 15%);
}
body .bg .star-wrapper .star[data-value="4"] {
  scale: calc(4 * 15%);
}
body .bg .star-wrapper .star[data-value="5"] {
  scale: calc(5 * 15%);
}
body .bg .star-wrapper .star[data-value="6"] {
  scale: calc(6 * 15%);
}
body .bg .star-wrapper .star[data-value="7"] {
  scale: calc(7 * 15%);
}
body .bg .star-wrapper .star[data-value="8"] {
  scale: calc(8 * 15%);
}
body .bg .star-wrapper .star[data-value="9"] {
  scale: calc(9 * 15%);
}
body .bg .star-wrapper .star[data-value="10"] {
  scale: calc(10 * 15%);
}
body .bg .star-wrapper .star[data-value="10"] {
  filter: blur(calc(1 * 0.4px));
}
body .bg .star-wrapper .star[data-value="9"] {
  filter: blur(calc(2 * 0.4px));
}
body .bg .star-wrapper .star[data-value="8"] {
  filter: blur(calc(3 * 0.4px));
}
body .bg .star-wrapper .star[data-value="7"] {
  filter: blur(calc(4 * 0.4px));
}
body .bg .star-wrapper .star[data-value="6"] {
  filter: blur(calc(5 * 0.4px));
}
body .bg .star-wrapper .star[data-value="5"] {
  filter: blur(calc(6 * 0.4px));
}
body .bg .star-wrapper .star[data-value="4"] {
  filter: blur(calc(7 * 0.4px));
}
body .bg .star-wrapper .star[data-value="3"] {
  filter: blur(calc(8 * 0.4px));
}
body .bg .star-wrapper .star[data-value="2"] {
  filter: blur(calc(9 * 0.4px));
}
body .bg .star-wrapper .star[data-value="1"] {
  filter: blur(calc(10 * 0.4px));
}

@keyframes star-blink {
  0%, 100% {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5254901961);
  }
  50% {
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4588235294);
    background: rgba(255, 255, 255, 0.3843137255);
  }
}/*# sourceMappingURL=styles.css.map */